<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="stylesheet" href="./css/style.css">
      <script src="./js/scriptloka.js"></script>
  </head>
  <body>
    {{!-- Navbar --}}
    {{> navbar}} <!-- Includes the navbar partial -->


    {{!-- Main Content --}}
    <section class="section">
      <div class="container">
        <h1 class="title">Leave Our Kids Alone</h1>
        <p class="subtitle">The Official <strong>LOKA</strong>! website</p>
      </div>
    </section>

    {{!-- Dynamic Content --}}
    {{{body}}}

  </body>
</html>



