  <!-- Main content -->
  <section class="section">
    <div class="container">
      <h2 class="title">Welcome, {{name}}!</h2>

      <div class="columns mt-4">
        <!-- New Blog Form -->
        <div class="column is-half">
          <h3 class="subtitle">Create a New Blog Post</h3>
          <form class="new-blog-form">
            <div class="field">
              <label class="label" for="blog-title">Title:</label>
              <div class="control">
                <input class="input" type="text" id="blog-title" name="blog-title" placeholder="Enter your blog title" />
              </div>
            </div>
            <div class="field">
              <label class="label" for="blog-content">Content:</label>
              <div class="control">
                <textarea class="textarea" id="blog-content" name="blog-content" placeholder="Write your blog content"></textarea>
              </div>
            </div>
            <button type="submit" class="button is-primary mt-2">Create</button>
          </form>
        </div>

        <!-- Blog List -->
        {{#if blogs.length}}
        <div class="column is-half blog-list">
          <h3 class="subtitle">Your Blogs</h3>
          {{#each blogs}}
            <div class="box">
              <h4><a href="/blog/{{this.id}}">{{this.title}}</a></h4>
              <button class="button is-danger is-small mt-2" data-id="{{this.id}}">Delete</button>
            </div>
          {{/each}}
        </div>
        {{/if}}
      </div>
    </div>
  </section>



